.container-crypto {
  background-image: url("../../assets/crypto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.user {
  width: 700px;
}

.tables{
    width: 80%;
    display: flex;
    flex-direction: row;
}
